@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./inter-variable.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('./inter-variable-italic.woff2') format('woff2');
}

@theme {
  --spacing: 4px;
}

@layer base {
  html {
    font-family: var(--font-sans);
    color: var(--color-neutral-550);
  }

  * {
    scrollbar-color: var(--color-neutral-200) var(--color-transparent);
    outline-color: transparent;
  }

  *:focus {
    outline-style: none;
    outline-width: 0;
  }

  *:focus-visible {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: calc(var(--spacing) * 0.5);
    outline-color: color-mix(in oklab, var(--color-blue-400) 50%, transparent);
    transition-property: outline-color;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }
}

@source './';
